/* ヘッダー部分 */
.header {
  background-color: #FF8856;
  padding: 20px 0;
}

.header__bar {
  width: 1024px;
  margin: 0 auto;
}

.header-name {
  display: inline-block;
  margin: auto;
  font-size: 40px;
  color: black;
  text-decoration: none;
  user-select: none;
  transition: 0.4s ease;
  font-weight: 800;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lists-right {
  display: flex;
  list-style: none;
}

.user-nickname{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 3px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: 800;
}

.user-nickname:hover{
  color: #fff;
  background: #FFC7AF;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 20px;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 3px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: 800;
}

.nav__btn:hover{
  color: #fff;
  background: #FFC7AF;
}

.nav__logout:hover{
  opacity: 0.5;
}

.footer {
  background-color: #FF8856;
  margin-bottom: 48px;
  padding: 20px 0;
}

.footer-name {
  font-size: 15px;
}

/* ヘッダー部分終わり */

/* 未ログイン時のbody部分始まり */

.main-image {
  width: 100%;
  height: auto;
}

.current-name {
  font-size: 30px;
  color: black;
  margin: 20px;
}

.htb-main {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0px;
  text-align: center;
}

.htb-sub {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.htb-st3 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.htb-sub2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.htb-sub3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.htb-step {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.step-image {
  width: 200px;
  height: 300px;
}

.step-name {
  font-size: 25px;
  font-weight: 700;
}

.body_btn {
  text-align: center;
  margin-bottom: 50px;
}

.btn_body {
  padding: 1.0em 2.4em;
  font-size: 30px;
  color: black;
  background-color: #FF8856;
  border: 3px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: 800;
  display: inline-block;
}

.btn_body:hover{
  color: #fff;
  background: #FFC7AF;
}

/* 未ログイン時のbody部分終わり */

/* ログイン時のbody部分始まり */

.current-name{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

.htb-status{
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.htb-body{
  border-style: groove;
  border-collapse:collapse;
}

.body-status-name{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  border-style: groove;
  border-collapse:collapse;
}

.body-status-average{
  display: flex;
  border-style: groove;
  border-collapse:collapse;
}

.status-image{
  width: 200px;
  height: 200px;
}

.status-number {
  font-size: 70px;
  text-align: center;
  margin: auto;
}

.diary-history {
  font-size: 20px;
  display: flex;
}

.diary_history_btn {
  margin: 10px;
}

/* ログイン時のbody部分終わり */

/* ログイン部分始まり */

.contents {
 margin: 2em auto;
 padding: 1em;
 width: 60%;
 background-color: #fff;
 border: 1px solid #ea352d;
}

.login-screen {
  font-size: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 20px;
  cursor: pointer;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 20px;
  font-weight: bold;
}

/* ログイン部分終わり */

/* 新規登録部分始まり */

.field {
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
/* 新規登録部分終わり */

/* 日記投稿始まり */

textarea {
  width: 800px;
  height: 100px;
  margin: 0px 0px 20px 5px;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.3em;
}

.sentence {
  flex-direction: column;
}

.select {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 20px 20px 5px;
}

.radio {
  margin: 10px;
}

.question {
  display: flex;
}

.select_label {
  font-size: 15px;
  font-weight: 600;
}

.btn_new {
  padding: 0.5em 1.2em;
  font-size: 20px;
  color: black;
  background-color: #FF8856;
  border: 3px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-weight: 800;
  display: inline-block;
  margin-bottom: 20px;
}

.btn_new:hover {
  color: #fff;
  background: #FFC7AF;
}

/* 日記投稿終わり */

/* 日記詳細始まり */

.show-list {
}

.show-number {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  margin: 5px;
}

/* 日記詳細終わり */